header, footer, article, p, ul, ol, h1, h2, h3, h4, h5, h6,
pre {
    max-width: 100%;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: auto;
}

header, footer {
    margin: 2em auto;
}

footer {
    text-align: right;
}

img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}
